@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(180deg) scale(1.01);
  }
  75% {
    transform: rotate(720deg) scale(1.01);
  }
  100% {
    transform: rotate(1080deg) scale(1);
  }
}

@keyframes shadow-glow {
  0%, 100% {
    box-shadow: 0 0 5px rgba(250, 204, 21, 0.2),
                0 0 20px rgba(250, 204, 21, 0.4),
                0 0 60px rgba(250, 204, 21, 0.6);
  }
  50% {
    box-shadow: 0 0 10px rgba(250, 204, 21, 0.4),
                0 0 40px rgba(250, 204, 21, 0.6),
                0 0 80px rgba(250, 204, 21, 0.8);
  }
}

.animate-rotate {
  animation: rotate 20s linear infinite;
}

.shadow-glow {
  animation: shadow-glow 2s ease-in-out infinite;
}

.transition-gpu {
  transition: transform 0.3s linear;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}
